.emp-cls-1 {
  fill: #7c7c7c;
}

.emp-cls-18,
.emp-cls-2 {
  fill: #ededed;
}

.emp-cls-3 {
  fill: #ededed;
}

.emp-cls-4 {
  font-size: 13.37px;
}

.emp-cls-4,
.emp-cls-7,
.emp-cls-9 {
  fill: #6d6d6d;
}

.emp-cls-10,
.emp-cls-14,
.emp-cls-15,
.emp-cls-19,
.emp-cls-4,
.emp-cls-7,
.emp-cls-9 {
  font-family: Montserrat-Bold, Montserrat;
  font-weight: 700;
}

.emp-cls-5 {
  letter-spacing: -0.02em;
}

.emp-cls-6 {
  letter-spacing: 0em;
}

.emp-cls-7,
.emp-cls-9 {
  font-size: 24.84px;
}

.emp-cls-7 {
  letter-spacing: 0.02em;
}

.emp-cls-8 {
  fill: url(#linear-gradient);
}

.emp-cls-9 {
  letter-spacing: 0.02em;
}

.emp-cls-10,
.emp-cls-15 {
  font-size: 25.65px;
  fill: #fff;
}

.emp-cls-11 {
  letter-spacing: 0.02em;
}

.emp-cls-12 {
  letter-spacing: 0.05em;
}

.emp-cls-13,
.emp-cls-15 {
  letter-spacing: 0.02em;
}

.emp-cls-14 {
  font-family: Montserrat-Light;
  font-size: 17px;
  fill: #db5a14;
}

.emp-cls-16 {
  letter-spacing: 0em;
}

.emp-cls-17 {
  letter-spacing: 0.05em;
}

.emp-cls-18 {
  opacity: 0.47;
}

.emp-cls-19 {
  font-size: 9.62px;
  fill: #101010;
}

.emp-cls-20 {
  letter-spacing: 0.02em;
}

.emp-cls-21 {
  letter-spacing: -0.01em;
}

.emp-cls-22 {
  letter-spacing: 0.02em;
}

.emp-cls-23 {
  letter-spacing: -0.02em;
}

.emp-cls-24 {
  letter-spacing: 0em;
}

.emp-cls-25 {
  letter-spacing: -0.03em;
}

.emp-cls-26 {
  letter-spacing: -0.04em;
}

.emp-cls-27 {
  letter-spacing: -0.01em;
}

.emp-cls-28 {
  letter-spacing: 0.02em;
}

.emp-cls-29 {
  letter-spacing: -0.01em;
}

.emp-cls-30 {
  letter-spacing: 0.01em;
}

.emp-cls-31 {
  letter-spacing: 0.01em;
}

.emp-cls-32 {
  letter-spacing: -0.01em;
}

.emp-cls-33 {
  letter-spacing: -0.01em;
}

.emp-cls-34 {
  letter-spacing: 0em;
}

.emp-cls-35 {
  letter-spacing: -0.01em;
}

.emp-cls-36 {
  letter-spacing: 0.01em;
}

.emp-cls-37 {
  letter-spacing: -0.01em;
}

.emp-cls-38 {
  letter-spacing: 0em;
}

.emp-cls-39 {
  letter-spacing: -0.01em;
}

.emp-cls-40 {
  letter-spacing: -0.03em;
}

.emp-cls-41 {
  letter-spacing: -0.04em;
}

.emp-cls-42 {
  letter-spacing: 0em;
}

.emp-cls-43 {
  letter-spacing: 0em;
}

.emp-cls-44 {
  letter-spacing: 0em;
}

.emp-cls-45 {
  letter-spacing: -0.02em;
}

.emp-cls-46 {
  letter-spacing: -0.01em;
}

.emp-cls-47 {
  letter-spacing: -0.02em;
}

.emp-cls-48 {
  letter-spacing: 0.02em;
}

.emp-cls-49 {
  letter-spacing: 0em;
}
